[submodule "Atlascan_flutter"]
	path = Atlascan_flutter
	url = https://github.com/Bilal-Motassim/Atlascan_flutter
[submodule "Atlascan_ocr"]
	path = Atlascan_ocr
	url = https://github.com/Bilal-Motassim/Atlascan_ocr.git
[submodule "Atlascan_spring"]
	path = Atlascan_spring
	url = https://github.com/Bilal-Motassim/Atlascan_spring.git
